.download-parts {
    max-width: 300px;
}

.download-parts li div {
    display: inline-block;
}

.download-parts li .download-part-thumbnail {
    background-color: #ddd;
}

.download-parts li .download-part-thumbnail span {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.download-parts li .download-part-title h3 {
    margin: 0;
}

.download-parts li .download-part-excerpt {
    vertical-align: middle;
    display: inline-block;
    width: 250px;
}

.download-parts li .download-part-tags a {
    background-color: #ddd;
    border-radius: 4px;
    color: #444;
    text-decoration: none;
    font-size: 12px;
    padding: 2px 4px;
}

.download-parts li .download-part-purchase {
    padding: 8px 0;
}

.download-parts li .download-part-purchase a {
    background-color: #428bca;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;
}